/* .catagory {
  background: red;
}
.collapsed {
  background: blue;
} */
.cat-head {
  width: 80%;
}
.card-header {
  color: white;
  display: flex;
  background: #3f51b5;
}
.collapsed {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.03);
}
.cat-performance {
  display: flex;
}

.cat-perf-indv {
  width: 2.5rem;
  text-align: center;
  margin-right: 0.5rem;
}

[data-toggle='collapse'] .fa:before {
  content: '\f107';
}

[data-toggle='collapse'].collapsed .fa:before {
  content: '\f105';
}
.overall-perf {
  height: 4rem;
}
.strong {
  text-align: center;
}
.col {
  padding: 0;
  border: 1px solid #d1d3d1;
}
.overall-perf-label {
  color: white;
  padding-top: 0.25rem;
  text-align: center;
  height: 2rem;
}
.overall-perf-content {
  height: 2rem;
}
