<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Register</h5>

      <form class="was-validated" #f="ngForm" (ngSubmit)="signup(f)" novalidate>
        <div class="form-row mb-3">
          <label for="inputName" class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              name="name"
              id="inputName"
              placeholder="Enter name"
              required
              ngModel
            />
            <div class="invalid-feedback">
              name is required
            </div>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="exampleInputEmail1" class="col-sm-4 col-form-label">
            Email
          </label>
          <div class="col-sm-8">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
              placeholder="Enter email"
              ngModel
              required
            />
            <div class="invalid-feedback">
              email is required
            </div>
          </div>
          <!-- <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          > -->
        </div>
        <div class="form-row mb-3">
          <label for="exampleInputPassword1" class="col-sm-4 col-form-label"
            >Password</label
          >
          <div class="col-sm-8">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
              placeholder="Password"
              ngModel
              required
            />
            <div class="invalid-feedback">
              choose a password
            </div>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="inputCountry" class="col-sm-4 col-form-label"
            >Country</label
          >
          <div class="col-sm-8">
            <select
              class="custom-select"
              id="inputGroupSelect01"
              #c
              name="country"
              (change)="getTimezone(c.value)"
              ngModel
              required
            >
              <option selected>choose..</option>
              <option *ngFor="let cc of countries" [value]="cc.code">{{
                cc.country.country
              }}</option>
            </select>
            <div class="invalid-feedback">
              choose your country
            </div>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="inputTimezone" class="col-sm-4 col-form-label"
            >Timezone</label
          >
          <div class="col-sm-8">
            <select
              class="custom-select"
              id="inputGroupSelect02"
              name="timezone"
              ngModel
              required
            >
              <option selected></option>
              <option *ngFor="let tz of timezone">{{ tz.timezone }}</option>
            </select>
            <div class="invalid-feedback">
              choose your timezone
            </div>
          </div>
        </div>
        <div class="form-row mb-3">
          <label for="inputDate" class="col-sm-4 col-form-label">Dob</label>
          <div class="col-sm-8">
            <input
              type="date"
              class="form-control"
              id="inputDate"
              name="dob"
              placeholder="Enter date"
              ngModel
              required
            />
            <div class="invalid-feedback">
              choose your date of birth
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success">Sign Up</button>
        <button
          id="login"
          type="button"
          class="btn btn-primary"
          (click)="login()"
        >
          Login
        </button>
      </form>
      <div class="text-danger error">
        {{ error }}
      </div>
    </div>
  </div>
</div>
